body{
    background-image: url('images/bc.webp');
    background-size:     cover;           
}
.App{
    margin: 0 auto;
    width: 50%;
}
p{
    margin-top: 0rem;
    margin-bottom: 0rem !important;
}

/**** Form ****/
#app-form{
    margin: 0 auto;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}
.react-autosuggest__container{
    display: inline-block;
    width: 75%;
}
.react-autosuggest__input{
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border: none;
    font-size: 20px;
    box-shadow: 0 0 15px 2px rgb(132, 171, 214);
}
.react-autosuggest__input:focus{
    box-shadow: 0 0 15px 2px rgb(72, 121, 173);
}
.react-autosuggest__suggestions-container--open{
    background-color: white;
    position: absolute;
    top: 55px;
    width: 75%;
    max-height: 300px;
    overflow-y: hidden;
    z-index: 999;
}
.react-autosuggest__suggestion{
    list-style: none;
    text-align: left;
    cursor: pointer;
    inline-size: 90%;
    margin-top: 10px;
    padding: 10px;
}
.react-autosuggest__suggestion:hover{
    background-color: lightgray;
}
.react-autosuggest__suggestions-container--open{
    box-shadow: 0 0 15px 2px rgb(132, 171, 214);
}
#search-button{
    font-size: 20px;
    width: 25%;
    height: 50px;
    border: none;
    cursor: pointer;
}
#search-button:hover{
    background-color: lightgray;
}

/******** Body ********/
.body-container{
    border: 1px solid lightcyan;
    padding: 20px;
    background-color: rgb(238, 238, 236);
    box-shadow: 0 0 15px 2px rgb(132, 171, 214);
}
.row{
    padding-left: 30px;
}
.location,.main-temprature,.state{
text-align: center;
}
.location > p{
    display: inline;
    text-align: center !important;
}
.day-and-minmax{
    margin-left: -45px !important;
}
.max-temp, .min-temp{
    float: right;
    margin-left: 30px ;
    font-size: 20px;
}
.min-temp{
    color: grey;
    margin-right: 70px;
}
.city{
    font-size: 30px;
}
.main-temprature{
    font-size: 40px;
}
.today > :first-child{
    font-size: 25px;
    margin-left: 40px;
}
.today > :nth-child(2){
    margin-left: 20px;
    color: gray;
}
.sunrise > :first-child,
.sunset > :first-child,
.feels-like > :first-child,
.wind-speed > :first-child,
.humidity > :first-child,
.clouds > :first-child{
    font-size: 12px;
    font-weight: bold;
    color: grey;
}
.sunrise > :nth-child(2),
.sunset > :nth-child(2),
.feels-like > :nth-child(2),
.wind-speed > :nth-child(2),
.humidity > :nth-child(2),
.clouds > :nth-child(2){
    font-size: 20px;
    font-style: bold;
}
.toggle{
    background-color: gray;
    color: honeydew;
    border-radius: 5px;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 99;
}
.toast-header{
    color: red !important;
}
.toast{
    width: 29% !important;
    font-size: 25px;
    color: red;
    position: absolute;
    z-index: 999999;
    margin: 0 auto;
    box-shadow: 0 0 5px 2px rgb(201, 63, 21) !important;
}


/******* Media query ********/
/*extra small phones*/
@media (max-width: 576px) {
    .App{
        width: 90%;
    }
    .min-temp{
        margin-right: 0;
    }
    .today > :first-child {
        margin-left: 0;
    }

}
/* small phones*/
@media (min-width: 576px) {
    .App{
        width: 75%;
    }
}
/*large screens*/
@media (min-width: 992px) {
    .App{
        width: 50%;
    }
}
